<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-33084-1660214462/blob/Assignment/DA_Assignment_3_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [4]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [5]:
string = "Hi there Sam!"

In [6]:
print(string.split())

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [7]:
planet = "Earth"
diameter = 12742

In [8]:
print("The diameter of {} is {} kilometers.".format(planet, diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [11]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [12]:

print(d['k1'][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [13]:
"List is mutable and always defined with square brackets [] and we can add additional objects in it, whereas tuples are immutable and defined with paranthesis () and do not allow additional objects once tuple is created."

'List is mutable and always defined with square brackets [] and we can add additional objects in it, whereas tuples are immutable and defined with paranthesis () and do not allow additional objects once tuple is created.'

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [14]:
def domainGet(email):
    print("Your domain is: " + email.split('@')[-1])

In [15]:
email = input("Please enter your email: >")
domainGet(email)

Please enter your email: >user@domain.com
Your domain is: domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [16]:
def findDog(st):
    if 'dog' in st.lower():
        print("True")
    else:
        print("False")

In [34]:
st = "there is a dog here"
findDog(st)

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [31]:
def countdogs(string):
    count = 0
    for word in string.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
    print(count)

In [33]:
string = 'This dog runs faster than the other dog dude!'
countdogs(string)

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [36]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [37]:
caught_speeding(91, True)

'Big Ticket'

In [38]:
caught_speeding(66, False)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [41]:
employee_names = ["abc", "def", "ghi", "jkl", "mno", "pqr"] 
employee_salaries = {} 
for employee in employee_names: 
    while True: # Input validation loop 
        try: 
            employee_salaries[employee] = int(input("Enter {employee} salary: "))
            break 
        except ValueError: 
            print("Invalid input") 
print(employee_salaries) 
total = sum(employee_salaries.values())
print("total salary expenditure =", 
      total)

Enter {employee} salary: 100
Enter {employee} salary: 2
Enter {employee} salary: 300
Enter {employee} salary: 400
Enter {employee} salary: 500
Enter {employee} salary: 600
{'abc': 100, 'def': 2, 'ghi': 300, 'jkl': 400, 'mno': 500, 'pqr': 600}
total salary expenditure = 1902

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [42]:
dic1 = {'Empid':'9129', 'Empname':'xxx', 'Basicpay':'25000'}
dic2 = {'DeptName':'CSE', 'DeptId':'CS123'}
dic1.update(dic2)
dic1

{'Empid': '9129',
 'Empname': 'xxx',
 'Basicpay': '25000',
 'DeptName': 'CSE',
 'DeptId': 'CS123'}